/*Color*/
/*@company-theme-color: #920000;*/
/*add-category-tag*/
/*Sizes*/
/* */
/*Media Sizes*/
/*add-category-tag*/
.math-bg-color {
  background-color: #CC0000;
}
.math-bg-color:hover {
  background-color: #660000;
}
.science-bg-color {
  background-color: #ff6a00;
}
science-bg-color:hover {
  background-color: #994000;
}
.english-bg-color {
  background-color: #0094ff;
}
.english-bg-color:hover {
  background-color: #005999;
}
.filipino-bg-color {
  background-color: #3333FF;
}
.filipino-bg-color:hover {
  background-color: #0000cc;
}
.araling-panlipunan-bg-color {
  background-color: #FFCC00;
}
.araling-panlipunan-bg-color:hover {
  background-color: #997a00;
}
.mandarin-bg-color {
  background-color: #920000;
}
.mandarin-bg-color:hover {
  background-color: #2c0000;
}
.computer-ed-bg-color {
  background-color: #99FF00;
}
.computer-ed-bg-color:hover {
  background-color: #5c9900;
}
/* */
.math-color {
  color: #CC0000;
}
.science-color {
  color: #ff6a00;
}
.english-color {
  color: #0094ff;
}
.filipino-color {
  color: #3333FF;
}
.araling-panlipunan-color {
  color: #FFCC00;
}
.mandarin-color {
  color: #920000;
}
.computer-ed-color {
  color: #99FF00;
}
/* */
/*add-category-tag*/
.math-bg-color-no-hover {
  background-color: #CC0000;
}
.science-bg-color-no-hover {
  background-color: #ff6a00;
}
.english-bg-color-no-hover {
  background-color: #0094ff;
}
.filipino-bg-color-no-hover {
  background-color: #3333FF;
}
.araling-panlipunan-bg-color-no-hover {
  background-color: #FFCC00;
}
.mandarin-bg-color-no-hover {
  background-color: #920000;
}
.computer-ed-bg-color-no-hover {
  background-color: #99FF00;
}
.quizz-header .quizz-category-icon {
  color: white;
  float: left;
  font-family: 'Inconsolata';
  font-weight: bold;
  font-size: 1.2em;
  border-width: 4px;
  border-style: solid;
  padding: 1px 10px;
  text-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 5px black;
}
.quizz-header .quizz-title-desc {
  margin-left: 60px;
}