/*Color*/
/*@company-theme-color: #920000;*/
/*add-category-tag*/
/*Sizes*/
/* */
/*Media Sizes*/
.notifications {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.notifications .notification-item {
  padding: 10px;
  border-bottom: 1px solid gray;
  font-size: 0.85em;
  margin: 0 5px;
  color: #686868;
}
.notifications .notification-item .quizzer {
  font-size: 1.1em;
}
.notifications .notification-item .quizz-title {
  font-size: 1.1em;
}
.notifications .notification-item .link-inside {
  z-index: 1000;
}
.notifications .notification-item .dependent-icon {
  float: right;
  color: red;
  margin-top: 5px;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px gray;
}
.notifications .notification-item .notification-body .message {
  margin-left: 25px;
  margin-right: 25px;
}
.notifications .notification-item .notification-body .message .other-quizzer {
  font-size: 1em;
}
.notifications .notification-item .notification-body .message .posted-date {
  margin-top: 5px;
}
.notifications .notification-item .notification-body .icon {
  display: inline-block;
  margin-top: 5px;
  float: left;
  color: #920000;
  font-size: 1.3em;
  text-shadow: 1px 1px 2px gray;
}
/*.notification-item.new-notification {
    background-color: #f1f1f1;
}*/
.all-notifications-html {
  /*.notification-item.new-notification {
        background-color: #d6ffd8;
        border: 1px dashed black;
    }*/
}
.all-notifications-html .notification-item {
  background-color: white;
  margin: 5px 0;
  padding: 15px;
  border-bottom: none;
}
.flagged-notification {
  border: 2px dashed red !important;
}