.q-color {
  color: white;
  padding: 4px;
  border-radius: 4px;
}
.q-b-i {
  background-color: orange;
}
.q-q-a {
  background-color: red;
}
.q-mc {
  background-color: green;
}
.q-mcs-cg1 {
  background-color: blue;
}
.edit-q-container {
  margin: 10px 0;
}
.edit-q-container .quizz-header {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #d7d7d7;
  border: 1px solid black;
}
.edit-q-container form {
  background-color: white;
  padding: 10px 0;
}
.edit-q-container form .form-group {
  margin-bottom: 5px;
  padding: 0 10px;
}
.edit-q-container form .control-label {
  margin-bottom: 2px;
  text-transform: capitalize;
  font-size: 0.85em;
}
.edit-q-container form .form-action {
  text-align: right;
  margin-top: 20px;
  padding-right: 10px;
}
.edit-q-container form .form-action button {
  margin-left: 5px;
}
.edit-q-container form ul {
  padding: 5px;
}
.edit-q-container form ul li {
  display: flex;
  width: 100%;
  list-style: none;
  margin-bottom: 5px;
}
.edit-q-container form ul li .col-letter {
  font-weight: 600;
  padding-left: 0;
  font-size: 0.9em;
  width: 5%;
  padding-top: 5px;
}
.edit-q-container form ul li .col-question {
  width: 90%;
}
.edit-q-container form ul li .col-action {
  width: 5%;
}
.edit-q-container form ul li .col-action .btn {
  font-size: 1.3em;
  color: red;
  border: none;
  background-color: inherit;
}
.edit-q-container form .answer-options {
  margin-top: 10px;
}
.edit-q-container form .answer-options .answer-options-details {
  margin-left: 15px;
  margin-right: 5px;
  overflow: hidden;
}
.edit-q-container form .answer-options .answer-options-details label.control-label {
  font-size: 0.9em;
}
.edit-q-container form .answer-options .answer-options-details::after {
  clear: none;
}