/*Color*/
/*@company-theme-color: #920000;*/
/*add-category-tag*/
/*Sizes*/
/* */
/*Media Sizes*/
.quizz-o-container .quizz-o-overview {
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}
.quizz-o-container .quizz-o-overview .quizz-o-top-extra .quizz-o-top-extra-actions {
  margin-bottom: 5px;
  text-align: right;
}
.quizz-o-container .quizz-o-overview .quizz-o-top-extra .quizz-o-top-extra-actions .btn.clear-btn {
  margin-left: 10px;
}
.quizz-o-container .quizz-o-overview .quizz-o-top-extra .quizz-o-top-extra-actions .daily-reward {
  cursor: default;
}
.quizz-o-container .quizz-o-overview .quizz-o-top-extra .quizz-o-top-extra-actions .daily-reward .daily-reward-possible-points {
  font-size: 0.8em;
  font-weight: 700;
  color: green;
}
.quizz-o-container .quizz-o-overview .quizz-o-top-extra .quizz-o-top-extra-actions .daily-reward .daily-reward-actual-points {
  font-size: 0.8em;
  font-weight: 700;
  color: green;
}
.quizz-o-container .quizz-o-overview .quizz-o-top-extra .quizz-o-top-extra-actions .daily-reward .point-image {
  width: 12px;
  margin-top: -5px;
}
.quizz-o-container .quizz-o-overview .quizz-o-top-extra .quizz-o-top-extra-actions .qz-tip-container {
  display: inline-block;
}
.quizz-o-container .quizz-o-overview .quizz-o-top-extra .quizz-o-top-extra-actions .qz-tip-container .popover {
  top: -40px;
  left: -235px;
}
.quizz-o-container .quizz-o-overview .quizz-o-head {
  margin-bottom: 10px;
  min-height: 65px;
}
.quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-left {
  float: left;
  text-align: center;
}
.quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-left .quizz-edit {
  margin-top: 5px;
}
.quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-left .quizz-edit .popover {
  left: 40px;
  top: -10px;
}
.quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-middle {
  margin-left: 50px;
  margin-right: 85px;
}
.quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-middle .quizz-owner {
  font-size: 0.85em;
  margin-top: 5px;
}
.quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-middle .quizz-owner .quizzer {
  font-size: 1em;
}
.quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-middle .quizz-owner .quizz-owner-points {
  color: #f07a18;
  font-weight: 700;
}
.quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-middle .grade-level {
  font-weight: 600;
}
.quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-middle .rating {
  font-weight: 600;
  font-size: 0.85em;
  color: gray;
}
.quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-middle .rating .rating-load {
  display: inline !important;
}
.quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-middle .tags {
  color: gray;
  font-size: 0.85em;
}
.quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-right {
  text-align: right;
  float: right;
}
.quizz-o-container .quizz-o-overview .quizz-o-foot {
  margin: 0 10px;
}
.quizz-o-container .quizz-o-overview .quizz-o-foot .quizz-o-foot-left {
  width: 100%;
  font-size: 0.8em;
}
.quizz-o-container .quizz-o-overview .quizz-o-foot .quizz-o-foot-left #quizz-o-like-btn {
  width: 50px;
  margin-top: 0;
}
.quizz-o-container .quizz-o-overview .quizz-o-foot .quizz-o-info {
  /*float: left;*/
  display: inline-block;
  padding: 5px;
  background-color: white;
  font-size: 0.8em;
}
.quizz-o-container .quizz-o-overview .quizz-o-foot .share-btn button i.fa.fa-share-alt {
  position: relative;
  top: 3px;
  left: 5px;
}
.quizz-o-container .quizz-o-overview ul.dropdown-menu {
  width: 50px;
}
.quizz-o-container .quizz-o-overview button.dropdown-toggle {
  width: 100%;
  display: flex;
}
.quizz-o-container .quizz-o-overview button.dropdown-toggle span.button-text {
  width: 100%;
}
.quizz-o-container .quizz-o-overview button.dropdown-toggle span.caret {
  margin-left: 5px;
  margin-top: 6px;
}
.quizz-o-container .quizz-o-overview hr {
  margin: 0 10px;
}
.quizz-o-container .quizz-o-comments {
  background-color: white;
  padding: 10px;
  margin: 5px 0 10px 15px;
}
.quizz-o-container .quizz-o-comments .btn-group > label {
  margin-left: 10px;
  border-radius: 2px !important;
}
.quizz-o-container .quizz-o-comments .comments-title {
  font-size: 0.85em;
  color: #aaaaaa;
  font-weight: bold;
}
.quizz-o-container .quizz-o-comments .new-comment,
.quizz-o-container .quizz-o-comments .edit-comment {
  margin-top: 10px;
}
.quizz-o-container .quizz-o-comments .new-comment .comment-text,
.quizz-o-container .quizz-o-comments .edit-comment .comment-text {
  margin-bottom: 10px;
}
.quizz-o-container .quizz-o-comments .new-comment .comment-text textarea,
.quizz-o-container .quizz-o-comments .edit-comment .comment-text textarea {
  height: 60px;
}
.quizz-o-container .quizz-o-comments .new-comment .comment-submit-button,
.quizz-o-container .quizz-o-comments .edit-comment .comment-submit-button {
  text-align: right;
}
.quizz-o-container .quizz-o-comments .comment {
  background-color: #f1f1f1;
  min-height: 60px;
  margin: 10px;
  padding: 5px;
}
.quizz-o-container .quizz-o-comments .comment .more-action {
  float: right;
  color: #aaaaaa;
}
.quizz-o-container .quizz-o-comments .comment .comment-text {
  font-size: 0.9em;
  margin-left: 65px;
}
.quizz-o-container .quizz-o-comments .comment .comment-text .comment-author {
  color: #4293d1;
  font-weight: bold;
}
.quizz-o-container .quizz-o-comments .comment .comment-text .posted-date {
  margin-left: 7px;
}
.quizz-o-container .quizz-o-comments .comment .actions {
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 10px;
}
.quizz-o-container .quizz-o-comments .comment .actions .is-liked {
  color: green;
}
.quizz-o-container .quizz-o-comments .comment .actions .is-flagged {
  color: red;
}
.quizz-o-container .quizz-o-comments .comment .actions .link-container {
  margin: 5px 20px 5px 0;
  display: inline-block;
}
.quizz-o-container .quizz-o-comments .comments-list .more-comments {
  font-size: 0.85em;
  color: #aaaaaa;
  font-weight: bold;
  padding: 0 20px;
}
.quizz-o-container .quizz-o-comments .comments-list .more-comments .show-more-comments {
  display: inline-block;
}
.quizz-o-container .quizz-o-comments .comments-list .more-comments .show-all-comments {
  display: inline-block;
  float: right;
}
@media screen and (max-width: 479px) {
  .quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-left .quizz-edit .btn {
    font-size: 0.75em;
    padding: 2px;
  }
  .quizz-o-container .quizz-o-overview .quizz-o-head .quizz-o-head-middle {
    margin-right: 38px;
  }
}
#quizz-overviews-html .qz-content-container .qz-header {
  background-color: #f07a18;
  display: block;
  margin-bottom: 10px;
  padding-right: 15px;
}
#quizz-overviews-html .qz-content-container .qz-body {
  margin-top: 0 !important;
}
.quizz-overview-html .page-container {
  text-align: center;
}
.quizz-overview-html .page-container .pagination {
  margin: 10px 0;
}
.quizz-overview-html .quizz-overview-action {
  padding: 10px 10px 1px 10px;
  margin-bottom: 0;
  background-color: #f07a18;
}
.quizz-overview-html .quizz-overview-action .search-text {
  display: inline-block;
}
.quizz-overview-html .quizz-overview-action .search-btn {
  display: inline-block;
}
.quizz-overview-html .quizz-overview-action .more-options {
  display: none;
}