/*Color*/
/*@company-theme-color: #920000;*/
/*add-category-tag*/
/*Sizes*/
/* */
/*Media Sizes*/
.qz-editor-html .content-type {
  border: 1px solid #f07a18;
  padding: 5px;
}
.qz-editor-html .editor-action {
  text-align: right;
  margin: 10px 0;
}
.qz-editor-html .editor-action button {
  min-width: 60px;
}
.qz-editor-html .editor-mod-content {
  margin-bottom: 10px;
}
.qz-editor-html .image {
  min-height: 100px;
  text-align: center;
  /*display: inline-block;*/
  position: relative;
}
.qz-editor-html .image .editor-action input {
  display: none;
}
.qz-editor-html .image button.btn {
  position: absolute;
  font-size: 2.5em;
  right: 0;
  top: 5px;
  width: 40px !important;
}
.qz-editor-html .image-container img {
  margin-left: auto;
  margin-right: auto;
}
.qz-editor-html .image-canvas-container canvas.editor-image {
  border: 5px solid lightgray;
  /*max-width: 500px;*/
  margin: 0 auto;
}
.qz-editor-html .video-container {
  /*text-align: center;

        iframe.youtube-embed {
            width: 100%;
            height: 50%;
        }*/
}
.qz-editor-html .video-container div.form-group {
  margin-top: 10px;
  text-align: left;
}
.qz-editor-html .title {
  font-size: 1em;
  font-weight: 700;
}
.qz-editor-html .view-add-content {
  margin: 10px 0;
}
.qz-editor-html .active,
.qz-editor-html .active:focus,
.qz-editor-html .active:hover {
  background-color: #f07a18;
  color: white;
  border: 1px solid #f07a18;
}
.qz-editor-view-html .border-common {
  border: 2px solid #3c2d1a;
}
.qz-editor-view-html .literally-view {
  border: 2px solid #3c2d1a;
  /*overflow: auto;*/
  height: auto;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
  min-height: 150px;
}
.qz-editor-view-html .literally-view canvas {
  width: 100%;
}
.qz-editor-view-html .image-container img {
  border: 2px solid #3c2d1a;
}
.qz-image-editor-html {
  display: inline-block;
}
.qz-image-editor-html .editor-action input {
  display: none;
}
.qz-image-editor-html .image {
  position: relative;
}
.qz-image-editor-html .image button.btn {
  position: absolute;
  font-size: 2.5em;
  right: 0;
  top: 5px;
  width: 40px !important;
}