<div id="quizzmates-html" ng-show="page.isReady">
    <div class="qz-page-sub-title">
        {{title}}
    </div>
    <div class="qz-no-item" ng-if="quizzmates.length == 0 && isSelf">
        It's lonely in here.<br />
        Invite other <span class="quizzer">Quizzers</span> to be your <span class="quizzmate">Quizzmates</span>.
    </div>
    <div class="qz-no-item" ng-if="quizzmates.length == 0 && !isSelf">
        No Quizzmates.
    </div>
    <div ng-repeat="item in quizzmates" class="quizzmate-info" ng-if="quizzmates.length !== 0">
        <div class="quizzmate-detail-top">
            <a ui-sref="si.quizzer({quizzerId: {{item.id}}, view: 0})">
                <img ng-src="{{item.profile.profileImageUrl}}" class="avatar" />
            </a>
            <div class="quizzmate-detail-right">
                <a ui-sref="si.quizzmateMsg({userId: {{item.id}}})" class="btn btn-default clear-btn" uib-tooltip="Send Message" tooltip-placement="left" ng-if="isSelf">
                    <i class="fa fa-envelope-o"></i>
                </a>
            </div>
            <div class="quizzmate-detail-mid">
                <div class="name quizzmate-detail quizzer">
                    <a ui-sref="si.quizzer({quizzerId: {{item.id}}, view: 0})">
                        {{item.userName}}
                        <child-icon age="{{item.age}}"></child-icon>
                    </a>
                </div>
                <div class="full-name quizzmate-detail">
                    <a ui-sref="si.quizzer({quizzerId: {{item.id}}, view: 0})">
                        {{item.userFullName}}
                    </a>
                </div>
                <div class="quizzer-detail quizzmate-detail-brag">
                    <a ui-sref="si.quizzer({quizzerId: {{item.id}}, view: 2})">
                        {{item.numQuizzes}} Quizzes,
                        <span class="quizzer-total-points" uib-tooltip="Total cake points earned" tooltip-placement="bottom">
                            {{item.points}} <img class="point-image" src="/Content/images/Icons/points-1.0.png" />
                        </span>
                        <span class="badge-total-points" uib-tooltip="Total cake badges earned" tooltip-placement="bottom">
                            &nbsp;{{item.totalBadge}} <img class="badge-image" src="/Content/images/Icons/achievement-1.0.png" />
                        </span>
                    </a>
                </div>
            </div>

        </div>

        <div class="quizzmate-view-action">

        </div>
    </div>
</div>