<page-load-wait page="page"></page-load-wait>
<div id="daily-rewards-html" class="qz-page-container rewards-html ng-anim-fade" ng-hide="!page.isReady">
    <div class="qz-page-title-action">
        <!--<div class="qz-go-back-action">
            <button type="button" class="btn btn-danger btn-sm " ng-click="goBack()" ng-disabled="page.disabled">Go Back</button>
        </div>-->
        <div class="qz-page-title">
            <h1>Daily Cake Bonus</h1>
        </div>
    </div>

    <div class="qz-content-container">
        <div class="qz-header">
            <!--<div class="qz-header-action">

            </div>
            <div class="quizz-name-icon">
                <ng-include src="'scripts/templates/quizz/common/_QuizzHeader.html'"></ng-include>
            </div>-->
        </div>

        <div class="qz-body">
            <quizz-overviews search-params="searchParams" hide-search="1"></quizz-overviews>
        </div>
    </div>
</div>
