/*Color*/
/*@company-theme-color: #920000;*/
/*add-category-tag*/
/*Sizes*/
/* */
/*Media Sizes*/
.company-logo {
  background-color: white;
  width: 200px;
  height: 60px;
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  font-weight: bolder;
  line-height: 60px;
}
.company-logo a,
.company-logo a:visited,
.company-logo a:hover,
.company-logo a:active {
  color: inherit;
  text-decoration: none;
}
.company-logo .company-quizz {
  color: #FF6666;
}
#footer {
  height: 300px;
  background-color: #343434;
  margin: 0 0 -20px 0;
  color: white;
  padding-top: 20px;
}
#footer .main-container {
  background-color: #343434;
}
#footer .footer-col {
  padding: 0 20px;
  height: 100%;
  /*background-color: #343434;*/
}
#footer .footer-col-mid {
  text-align: right;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
#footer .company-logo {
  color: black;
}
#footer .company-description {
  margin-top: 20px;
  font-weight: 500;
}
#footer .total-questions-taken {
  margin-top: 20px;
}
#footer .total-questions-taken .actual-count {
  color: #f07a18;
}
#footer .total-questions-taken .questions-taken {
  color: #c4c9b3;
}
#footer .feedback {
  margin-top: 20px;
  font-size: 0.9em;
  font-weight: 100 !important;
  color: #f07a18;
}
#footer .company-share {
  margin-top: 20px;
}
#footer .company-share .share-icon {
  font-size: 1.5em;
  font-weight: 100 !important;
  padding-bottom: 10px;
}
#footer .company-share a {
  margin-left: 10px;
}
#footer .founder {
  font-size: 0.85em;
  color: red;
  margin-top: 10px;
}
#footer .legal {
  margin-top: 5px;
}
#footer .legal a {
  color: #e53d0e;
}
#footer .external-thanks {
  margin-top: 20px;
  font-size: 0.85em;
}
.like-page {
  /*margin-top: 70px;*/
}
.like-page a,
.like-page a:visited {
  color: white;
  position: relative;
  display: inline-block;
}
.like-page a span.share-icon-bg,
.like-page a:visited span.share-icon-bg {
  position: absolute;
  display: inline-block;
  /*background-color: red;*/
  width: 18px;
  height: 22px;
  top: 4px;
  left: 3px;
  z-index: 1;
}
.like-page a i.fa,
.like-page a:visited i.fa {
  z-index: 100;
  position: relative;
}
.like-page a:hover span.share-icon-bg {
  background-color: white;
}
.like-page a.facebook-icon:hover {
  color: #4862a3;
}
.like-page a.twitter-icon:hover {
  color: #00aced;
}
.like-page a.gplus-icon:hover {
  color: #d74633;
}
.like-page .like-text {
  color: gray;
  margin-top: 7px;
}
.developer {
  margin-top: 10px;
  color: #5077d3;
}
.developer span {
  color: white;
}