/*Color*/
/*@company-theme-color: #920000;*/
/*add-category-tag*/
/*Sizes*/
/* */
/*Media Sizes*/
#edit-test-html {
  margin-bottom: 50px;
}
#edit-test-html .qz-header {
  padding-bottom: 10px !important;
}
#edit-test-html .qz-header .qz-header-action button {
  margin-right: -15px;
}
#edit-test-html .qz-header .quizz-name-icon .quizz-icon {
  float: left;
}
#edit-test-html .qz-header .quizz-name-icon .quizz-edit-delete {
  margin-top: 5px;
}
#edit-test-html .qz-header .quizz-name-icon .quizz-name {
  margin-left: 50px;
}
#edit-test-html .qz-header .quizz-name-icon .quizz-name .qz-description {
  font-size: 0.85em;
}
#edit-test-html .qz-header h4 {
  font-size: 0.9em;
  display: inline;
  font-weight: bold;
}
#edit-test-html .qz-header .change-setting {
  margin-left: 50px;
}
#edit-test-html .qz-body {
  margin-top: 10px;
}
#edit-test-html .qz-body .add-question {
  margin: 10px 0;
  background-color: white;
  padding: 15px 15px 5px 15px;
}
#edit-test-html .qz-body .add-question .add-question-header {
  font-size: 0.85em;
  font-weight: 700;
  color: #e53d0e;
}
#edit-test-html .qz-body .add-question .add-choice-group {
  margin-top: -20px;
  float: right;
  background-color: #ff6a00;
  color: white;
}
#edit-test-html .qz-body .add-question .question-types {
  margin-left: 5px;
  margin-top: 10px;
}
#edit-test-html .qz-body .add-question .question-types button {
  margin-bottom: 5px;
}
#edit-test-html .qz-body .add-question .question-types button .q-icon {
  font-size: 0.8em;
}
#edit-test-html .qz-body .add-question .question-types button span.button-name {
  margin-left: 5px;
  font-weight: 600;
}
#edit-test-html .qz-body .add-question .question-types button.caret-container {
  padding-top: 12px;
  padding-bottom: 12px;
}
#edit-test-html .qz-body .question-label {
  font-weight: 600;
  font-size: 0.85em;
  margin-bottom: 5px;
}
#edit-test-html .qz-body .question {
  background-color: white;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 0.9em;
}
#edit-test-html .qz-body .question .col-number {
  float: left;
  font-weight: 600;
  font-size: 0.9em;
  margin-top: 3px;
}
#edit-test-html .qz-body .question .col-icon-question {
  margin-left: 25px;
}
#edit-test-html .qz-body .question .col-icon-question .q-icon {
  float: left;
  font-size: 0.8em;
}
#edit-test-html .qz-body .question .col-icon-question .col-question {
  margin-left: 28px;
  margin-right: 50px;
  padding-top: 5px;
}
#edit-test-html .qz-body .question .col-icon-question .col-question p {
  margin-bottom: 0;
}
#edit-test-html .qz-body .question .col-action {
  float: right;
}
#edit-test-html .qz-body .question .col-action div.btn-group {
  margin-left: 10px;
}
.quizz-test-html .change-setting {
  text-align: left !important;
  min-height: 40px;
}
.quizz-test-html .change-setting .change-actions {
  float: right;
}
.quizz-test-html .change-setting .test-setting label {
  color: #3c2d1a;
}
.quizz-test-html .add-question {
  margin: 10px 0;
  background-color: white;
  padding: 15px 15px 5px 15px;
  text-align: left !important;
}
.quizz-test-html .add-question .add-question-header {
  font-size: 0.85em;
  font-weight: 700;
  color: #3c2d1a;
}
.quizz-test-html .add-question .add-choice-group {
  margin-top: -20px;
  float: right;
}
.quizz-test-html .add-question .question-types {
  margin-left: 5px;
  margin-top: 10px;
}
.quizz-test-html .add-question .question-types button {
  margin-bottom: 5px;
}
.quizz-test-html .add-question .question-types button .q-icon {
  font-size: 0.8em;
}
.quizz-test-html .add-question .question-types button span.button-name {
  margin-left: 5px;
  font-weight: 600;
}
.quizz-test-html .add-question .question-types button.caret-container {
  padding-top: 12px;
  padding-bottom: 12px;
}
.quizz-test-html .question-label {
  font-weight: 600;
  font-size: 0.85em;
  margin-bottom: 5px;
}
.quizz-test-html .question {
  background-color: white;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 0.9em;
}
.quizz-test-html .question .col-number {
  float: left;
  font-weight: 600;
  font-size: 0.9em;
  margin-top: 3px;
}
.quizz-test-html .question .col-icon-question {
  margin-left: 25px;
}
.quizz-test-html .question .col-icon-question .q-icon {
  float: left;
  font-size: 0.8em;
}
.quizz-test-html .question .col-icon-question .col-question {
  margin-left: 28px;
  margin-right: 50px;
  padding-top: 5px;
}
.quizz-test-html .question .col-icon-question .col-question p {
  margin-bottom: 0;
}
.quizz-test-html .question .col-action {
  float: right;
}
.quizz-test-html .question .col-action div.btn-group {
  margin-left: 10px;
}