<ul ng-if="layout.leftSideBar.dependents.length != 0">
    <li class="item item-divider link-container">
        <a ui-sref="si.givenAssignmentGroups({ assGId: -1 })" class="link-elem"></a>
        <span>Assignments Given</span>
        <span class="lsb-more" ng-if="layout.leftSideBar.hasMoreAssignmentsGiven">More</span>
    </li>
    <li ng-if="layout.leftSideBar.assignmentsGiven.length > 0" ng-repeat="item in layout.leftSideBar.assignmentsGiven" class="item item-icon-left link-container">
        <a ui-sref="si.givenAssignmentGroups({ assGId: item.id })" class="link-elem"></a>
        <div class="icon-with-category">
            <div add-category-icon-dyn add-class="icon-category" category="item.category">
            </div>
        </div>
        <div class="item-text">{{item.quizzName}}</div>
    </li>
    <li ng-if="layout.leftSideBar.assignmentsGiven.length == 0" class="item item-nothing">
        <div class="item-text">No Items Found</div>
    </li>
    <li ng-if="layout.leftSideBar.hasMoreAssignmentsGiven" class="item item-more link-container">
        <a ui-sref="si.givenAssignmentGroups({ assGId: -1 })" class="link-elem"></a>
        <div class="item-text">More...</div>
    </li>
</ul>

<ul ng-if="user.userType == 1">
    <li class="item item-divider link-container">
        <a ui-sref="si.myAssignments({ assId: -1 })" class="link-elem"></a>
        <span>My Assignments</span>
        <span ng-if="layout.leftSideBar.hasMoreAssignments" class="lsb-more">More</span>
    </li>
    <li ng-repeat="item in layout.leftSideBar.assignments" class="item item-icon-left link-container">
        <a ui-sref="si.myAssignments({ assId: item.id })" class="link-elem"></a>
        <div class="icon-with-category">
            <div add-category-icon-dyn add-class="icon-category" category="item.category">
            </div>
        </div>
        <div class="item-text">{{item.quizzName}}</div>
    </li>
    <li ng-if="layout.leftSideBar.assignments.length == 0" class="item item-nothing">
        <div class="item-text">No Items Found</div>
    </li>
    <li ng-if="layout.leftSideBar.hasMoreAssignments" class="item item-more link-container">
        <a ui-sref="si.myAssignments({ assId: -1 })" class="link-elem"></a>
        <div class="item-text">More...</div>
    </li>
</ul>
