<ul>
    <li class="item item-divider link-container">
        <a  class="container" ui-sref="si.quizzOverviews"></a>
        <span>
            available quizzes
        </span>
    </li>
    <li class="item item-icon-left link-container">
        <a  class="link-elem" ui-sref="si.dailyRewards"></a>
        <i class="fa fa-gift icon"></i>
        <div class="item-text">Daily Cake Bonus</div>
    </li>
    <li class="item item-icon-left link-container">
        <a  class="link-elem" ui-sref="si.quizzCategories"></a>
        <i class="fa fa-th icon"></i>
        <div class="item-text">By Category</div>
    </li>
    <li class="item item-icon-left link-container">
        <a  class="link-elem" ui-sref="si.gradeLevels"></a>
        <i class="fa fa-graduation-cap icon"></i>
        <div class="item-text">By Grade Level</div>
    </li>
</ul>
