<div id="legal-html">
    <div class="header-container">
        <div class="main-container">
            <div class="row">
                <div class="company-logo">
                    <ng-include src="'scripts/templates/common/_CompanyName.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container legal-content">
        <h1>
            Terms and Conditions
        </h1>
        <h3>
            Last updated: May 23, 2016
        </h3>
        <p>
            The following is a legal agreement between you ("You") and the owners and operators ("We") of the website <span class="quizz-o-cake">www.quizzocake.com</span> ("Website" or “Service” or "<span class="quizz-o-cake">QuizzOCake</span>"). These Terms and Conditions govern your access to and use of the Website and its content.
</p>
        <p>
            "Content" shall refer collectively to all content available under Creative Commons CC0 from the QuizzOCake website. "Content” means quizzes, flashcards, reviewer notes, lessons, drawings, images, comments and reference materials in any format that have been posted or uploaded by the users of the Website.
        </p>
        <p>
            This agreement may be revised or updated without notice. By using the Website, You agree to be bound by these Terms and Conditions.
        </p>
        <h2>
            Using All Content
        </h2>
        <p>
            All contents on QuizzOCake are released under Creative Commons CC0. To the extent possible under law, users who add content to QuizzOCake have waived their copyright and related or neighboring rights to these content.
        </p>
        <p>
            By posting Content using the Website You grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Website.
        </p>
        <p>
            You are free to adapt and use the content without attributing the original author or source. Although not required, a link back to QuizzOCake is appreciated.
        </p>
        <p>
            Certain content may be subject to additional copyrights, property rights, trademarks etc. and may require the consent of a third party or the license of these rights. QuizzOCake does not represent or make any warranties that it owns or licenses any of the mentioned, nor does it grant them.
        </p>
        <h2>
            Adding Content
        </h2>
        <p>
            You may add Content to the Website, and QuizzOCake may screen these content periodically to see if they are suitable to the Website’s purposes. QuizzOCake does not accept any Content that may be inappropriate or have been flagged as inappropriate for some audiences. If at any instance, inappropriate Content is accessible via the Website, we will do our best to remove said Content whenever possible and as soon as it has come to our attention. However, You accept that QuizzOCake cannot be held responsible for those instances.
        </p>
        <p>
            By contributing Content, You release the Contents under Creative Commons CC0 into the public domain. This applies worldwide. In case this is not legally possible, You grant anyone the right to use this content for any purpose and without any conditions.
        </p>
        <p>
            You are solely responsible for the Content You post or upload. You warrant that You own all proprietary rights regarding the Content, and You are obliged to obtain all permissions necessary concerning the use of this Content for any purpose and without any conditions.
        </p>
        <p>
            Furthermore, You acknowledge that QuizzOCake does not allow the addition of Content that infringe on any copyright, property right, trademark or any other applicable right.
        </p>
        <p>
            You accept that even though We do our best to prevent it from happening, QuizzOCake cannot be held responsible for the misuse or abuse of any Content.
        </p>
        <p>
            We also reserve the right to remove any Content at any time if We believe it's inappropriate, of poor quality, or in violation of any rights.
        </p>
        <h2>
            Indemnification for breach of terms
        </h2>
        <p>
            You agree to indemnify and hold harmless QuizzOCake from and against any and all loss, expenses, damages, and costs, including without limitation reasonable attorneys fees, resulting, whether directly or indirectly, from your violation of the Terms and Conditions. You also agree to indemnify and hold harmless QuizzOCake from and against any and all claims brought by third parties arising out of your use of the Website.
        </p>
        <h2>
            Warranty and liability
        </h2>
        <p>
            THE WEBSITE AND ITS CONTENT ARE PROVIDED "AS IS". WE OFFER NO WARRANTY, EXPLICIT OR IMPLIED, REGARDING ANY CONTENT, THE WEBSITE, THE ACCURACY OF ANY INFORMATION, OR ANY RIGHTS OR LICENSES UNDER THIS AGREEMENT. QUIZZOCAKE DOES NOT REPRESENT OR WARRANT THAT THE WEBSITE OR ITS CONTENT WILL MEET YOUR REQUIREMENTS OR THAT THEIR USE WILL BE UNINTERRUPTED OR ERROR FREE.
        </p>
        <p>
            QUIZZOCAKE SHALL NOT BE LIABLE TO YOU OR TO ANY OTHER PERSON OR ENTITY FOR ANY GENERAL, PUNITIVE, SPECIAL, INDIRECT, CONSEQUENTIAL OR INCIDENTAL DAMAGES, OR LOST PROFITS OR ANY OTHER DAMAGES, COSTS OR LOSSES ARISING OUT OF YOUR USE OF THE WEBSITE OR ITS CONTENT.
        </p>
    </div>

    <div class="footer-container">
        <div class="main-container">
            <div class="row">
                <div class="col-sm-6">
                    Copyright 2016 QuizzOCake. All Rights Reserved.
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div>
    </div>
</div>
