<div class="qz-page-container my-assignment-html">
    <div class="qz-page-title-action">
        <!--<div class="qz-go-back-action">
            <button type="button" class="btn btn-danger btn-sm " ng-click="goBack()" ng-disabled="page.disabled">Go Back</button>
        </div>-->
        <div class="qz-page-title">
            <h1>My Assignments</h1>
        </div>
    </div>

    <div class="qz-content-container">
        <div class="qz-body">
            <assignments ass-id="{{assId}}" user-id="{{userId}}"></assignments>
        </div>
    </div>
</div>