<div class="modal-body qz-account-modal">

    <div class="qz-account-modal-title">
        <ng-include src="'scripts/templates/common/_CompanyName.html'"></ng-include>
    </div>

    <div class="qz-account-modal-sub-title">
        Did you forget your username or password?
    </div>

    <form name="form" ng-submit="sendResetPasswordRequest(form)">
        <div class="form-group">
            <label for="email" class="control-label">Enter the username or email address associated with this account</label>
            <input id="email" name="email" type="text" class="form-control" ng-model="emailOrUserName" ng-disabled="page.disabled" focus="true" required />
            <div class="qz-account-modal-more-info">
                <br />*For Quizzlings below 16 years old, the email will be sent to the parent or guardian who signed up for the Quizzling.<br />
                *If the email verification step for new accounts hasn't been completed yet, a "Confirm Email" link will be sent instead.<br />
            </div>
        </div>
        <div class="form-group qz-account-form-modal-action">
            <button type="submit" class="btn btn-danger btn-sm">
                Send Email
                <save-wait item="page"></save-wait>
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="close()">Cancel</button>
        </div>
    </form>

</div>