<div class="nsi-page-html reset-password-html">

    <div class="ed-img-fill-screen nsi-page-background" style='background-image:url("/Content/Images/background/students.jpg");'>
    </div>

    <div class="qz-account-modal">
        <div class="reset-password-modal">
            <div class="qz-account-modal-title">
                <ng-include src="'scripts/templates/common/_CompanyName.html'"></ng-include>
            </div>

            <div class="qz-account-modal-sub-title">
                Reset Password for {{model.userName}}
            </div>

            <form name="form" ng-submit="resetPassword(form)">
                <div class="form-group">
                    <label for="password" class="control-label">New Password</label>
                    <input id="password" name="password" type="password" class="form-control" ng-model="model.password" autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="control-label">Confirm New Password</label>
                    <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" ng-model="model.confirmPassword" autocomplete="off"/>
                </div>
                <div class="form-group qz-account-form-modal-action">
                    <button type="submit" class="btn btn-danger btn-sm">
                        Submit
                        <save-wait item="page"></save-wait>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


