#prep-test-html .qz-page-title-action .qz-page-title .qz-page-title-icon .daily-reward-possible-points {
  color: green;
  font-size: 0.65em;
}
#prep-test-html .qz-header .quizz-details {
  margin-left: 60px;
  font-size: 0.85em;
}
#prep-test-html .qz-header .quizz-details .grade-level {
  font-size: 1em;
}
#prep-test-html .qz-header .prep-test-details {
  margin-top: 10px;
  margin-left: 10px;
}