<page-load-wait page="page"></page-load-wait>
<div id="enrolled-quizz-class-html" class="qz-page-container classroom-page ng-anim-fade" ng-hide="!page.isReady">
    <div class="qz-page-title-action">
        <div class="qz-go-back-action">
            <a ui-sref="si.quizzClassAll" class="btn btn-danger btn-xs" ng-if="depId === -1">
                <i class="fa fa-chevron-circle-left"></i>
                Quizzroom list
            </a>
            <a ui-sref="si.depActivities({depId: depId, view: 3})" class="btn btn-danger btn-xs" ng-if="depId !== -1">
                <i class="fa fa-chevron-circle-left"></i>
                Quizzling's Quizzrooms
            </a>
        </div>
        <div class="qz-page-title">
            <h1 ng-if="depId === -1">Enrolled Quizzroom</h1>
            <h1 ng-if="depId !== -1 && depId !== quizzClass.teacherId">Quizzroom Quizzling is Enrolled In</h1>
            <h1 ng-if="depId !== -1 && depId === quizzClass.teacherId">Quizzling's Quizzroom</h1>
            <div ng-if="depId !== -1" class="quizzer">
                {{depName}}
            </div>
        </div>
    </div>

    <div class="qz-content-container">
        <div class="qz-header quizzroom-head-container">
            <div class="qz-header-action">
                <div class="qz-title-right">
                    Quizzroom
                </div>
            </div>

            <div class="avatar-image">
                <img ng-src="{{quizzClass.imageUrl}}" />
            </div>

            <div class="main-info">
                <div class="classroom-name">
                    {{quizzClass.className}}
                </div>
                <div class="classroom-description">
                    {{quizzClass.description}}
                </div>
                <div class="main-info-item">
                    <span class="quizzcher">Teacher</span>
                    <a ui-sref="si.quizzer({quizzerId: quizzClass.teacherId, view: 0})" class="quizzer info-content">
                        {{quizzClass.teacherName}}
                        <child-icon age="{{quizzClass.age}}"></child-icon>
                    </a>
                </div>
                <div class="classroom-stats">
                    <div class="classroom-stat">
                        Tags: {{quizzClass.tags}}
                    </div>
                </div>
            </div>
        </div>

        <div class="qz-body">
            <div class="qz-button-as-tabs">
                <!--<a ui-sref="si.enrolledQuizzClass({qcId: quizzClass.id, view: 0})" class="btn btn-default btn-xs" ng-class="{'active': view == 0}">
                    Summary
                </a>-->
                <a ui-sref="si.enrolledQuizzClass({qcId: quizzClass.id, depId: depId, view: 1})" class="btn btn-default btn-xs" ng-class="{'active': view == 1}">
                    Announcements
                    <span class="badge" ng-if="quizzClass.member.newAnnouncementCount !== 0">
                        {{quizzClass.member.newAnnouncementCount}}
                    </span>
                </a>
                <!--<a ui-sref="si.enrolledQuizzClass({qcId: quizzClass.id, view: 2})" class="btn btn-default btn-xs" ng-class="{'active': view == 2}">
                    Materials
                </a>-->
                <a ui-sref="si.enrolledQuizzClass({qcId: quizzClass.id, depId: depId, view: 3})" class="btn btn-default btn-xs" ng-class="{'active': view == 3}">
                    Lessons
                    <span class="badge" ng-if="quizzClass.numNewLessonItemCount !== 0">
                        {{quizzClass.numNewLessonItemCount}}
                    </span>
                </a>
                <a ui-sref="si.enrolledQuizzClass({qcId: quizzClass.id, depId: depId, view: 4})" class="btn btn-default btn-xs" ng-class="{'active': view == 4}">
                    Discussions
                    <span class="badge" ng-if="quizzClass.member.newClassCommentCount !== 0">
                        {{quizzClass.member.newClassCommentCount}}
                    </span>
                </a>
                <a ui-sref="si.enrolledQuizzClass({qcId: quizzClass.id, depId: depId, view: 6})" class="btn btn-default btn-xs" ng-class="{'active': view == 6}">
                    Suggested Quizzes
                    <span class="badge" ng-if="quizzClass.member.newClassQuizzCount !== 0">
                        {{quizzClass.member.newClassQuizzCount}}
                    </span>
                </a>
                <a ui-sref="si.enrolledQuizzClass({qcId: quizzClass.id, depId: depId, view: 5})" class="btn btn-default btn-xs" ng-class="{'active': view == 5}">
                    Quizzroommates
                    <!--<span class="badge" ng-if="quizzClass.numStudentJoinRequests !== 0">
                        {{quizzClass.numStudentJoinRequests}}
                    </span>-->
                </a>
            </div>

            <div class="qz-tabs">
                <div ng-if="view === 0">

                </div>

                <!--Announcements-->
                <div ng-if="view === 1 && page.isReady">
                    <quizz-class-announcements qc-id="{{quizzClass.id}}" is-teacher="0"></quizz-class-announcements>
                </div>

                <div ng-if="view === 3 && page.isReady">
                    <quizz-class-lessons qc-id="{{quizzClass.id}}" is-teacher="0" dep-id="{{depId}}" dep-Name="{{depName}}"></quizz-class-lessons>
                </div>

                <!--Discussions-->
                <div ng-if="view === 4 && page.isReady">
                    <quizz-class-discussions quizz-class="quizzClass" dep-id="{{depId}}"></quizz-class-discussions>
                </div>

                <!--Quizzes-->
                <div ng-if="view === 6 && page.isReady">
                    <quizz-class-quizzes quizz-class="quizzClass"></quizz-class-quizzes>
                </div>

                <!--Students-->
                <div ng-if="view === 5 && page.isReady">
                    <quizz-class-students quizz-class="quizzClass" is-teacher="0"></quizz-class-students>
                </div>
            </div>

            <div class="bottom-pad">
            </div>
        </div>
    </div>
</div>