<div class="confirm-modal-html">
    <div class="close-x" ng-click="confirm('no')">
        &times;
    </div>
    <div class="header">
        <span class="company-quizz">Quizz</span><span class="company-o">O</span><span class="company-cake">Cake</span> Confirm
    </div>
    <div class="body">
        <span>{{message}}</span>
    </div>
    <div class="footer">
        <button class="btn btn-danger btn-sm" type="button" ng-click="confirm('yes')">
            Yes
        </button>
        <button class="btn btn-default btn-sm" type="button" ng-click="confirm('no')">
            No
        </button>
    </div>
</div>

