<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div style="font-family: sans-serif; background-color:#f1f1f1; padding: 30px;">
        <div style="max-width: 600px; margin: 0 auto; background-color:#e53d0e; height:52px;">
            <div style="max-width: 600px;">
                <div style="font-weight: 700; background-color: white; display: inline-block; margin: 6px 0 6px 6px; padding: 10px 20px;">
                    <span style="color:#ff6666;">Quizz</span><span>O</span><span style="color:#d2691e;">Cake</span>
                </div>
            </div>
        </div>
        <div style="max-width: 600px; margin: 0 auto; background-color: white;">
            <div style="padding:20px;">
                <div style="color:#5bc0de; font-weight:bolder; font-size:large;">
                    Thank you for using
                    <span style="color:#ff6666;">Quizz</span><span style="color:#3c2d1a;">O</span><span style="color:#d2691e;">Cake</span>!
                </div>
                <p>
                    We received a request to reset the password for your account.
                </p>
                <p>
                    The following username is associated with this email address<br />
                    Username: <strong>rina</strong>
                </p>
                <p>
                    Please click the button below and follow the prompts to reset the password for <strong>rina</strong>.
                </p>
                <div style="width: 200px; height: 22px; margin: auto; background-color: #f07a18;
                    text-align: center; padding: 10px 20px; border-radius: 5px;
                    cursor: pointer;">
                    <a style="text-decoration:none; font-weight: bold; font-size:18px; color: white;" href="#">Reset My Password</a>
                </div>
                <p>
                    Your privacy is important to us. If you feel you have received this message in error,
                    please contact
                    <a href="mailto:support@quizzocake.com?Subject=Question" target="_top">
                        support@quizzocake.com
                    </a>
                </p>
                <p>
                    Thank you for being a part of our learning community,<br />
                    The <span style="color:#ff6666;">Quizz</span><span style="color:#3c2d1a;">O</span><span style="color:#d2691e;">Cake</span> Team
                </p>
                <hr style='background-color: lightgray; height: 1px; border: 0;' />
                <p style='color:gray; font-size:x-small'>
                    This communication contains proprietary information and may be confidential.
                    If you are not the intended recipient, the reading, copying, disclosure
                    or other use of the contents of this email is strictly prohibited
                    and you are instructed to please delete this email immediately.
                </p>
                <p style='color:gray; font-size:x-small'>
                    You received this email because you registered on quizzocake.com with the email address pixie.czar@gmail.com.
                    You can manage your notifications by clicking <a href="#">unsubscribe</a>.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
