<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div style='font-family: sans-serif; background-color:#f1f1f1; padding: 30px;'>
        <div style='max-width: 600px; margin: 0 auto; background-color:#e53d0e; height:52px;'>
            <div style='max-width: 600px;'>
                <div style='font-weight: 700; background-color: white; display: inline-block; margin: 6px 0 6px 6px; padding: 10px 20px;'>
                    <span style='color:#ff6666;'>Quizz</span><span>O</span><span style='color:#d2691e;'>Cake</span>
                </div>
            </div>
        </div>
        <div style='max-width: 600px; margin: 0 auto; background-color: white;'>
            <div style='padding:20px;'>
                <div style='color:#5bc0de; font-weight:bolder; font-size:large;'>
                    You received a Quizzmate Request!
                </div>
                <p>
                    Quizzer <strong>edwin</strong> (Edwin Lingad) sent <strong>kyle</strong> (Aiden Kyle Lingad) a Quizzmate request.
                </p>
                <p style='font-style:italic; margin-left:50px;'>
                    "Hi czar, please add me as your Quizzmate."
                </p>
                <p>
                    If you are <strong>kyle</strong>, you could accept by clicking this button:
                </p>
                <div style='width: 160px; height: 22px; margin: auto; background-color: #f07a18;
                    text-align: center; padding: 10px 20px; border-radius: 5px;
                    cursor: pointer;'>
                    <a style='text-decoration:none; font-weight: bold; font-size:18px; color: white;' href="#">Accept Quizzmate</a>
                </div>
                <p>
                    Cheers,<br />The <span style='color:#ff6666;'>Quizz</span><span style='color:#3c2d1a;'>O</span><span style='color:#d2691e;'>Cake</span> Team
                </p>
                <hr style='background-color: lightgray; height: 1px; border: 0;' />
                <p style='color:gray; font-size:x-small'>
                    You received this email because you registered on quizzocake.com with the email address pixie.czar@gmail.com.
                    You can manage your notifications by clicking <a href="#">unsubscribe</a>. For questions,
                    you may email us at
                    <a href="mailto:support@quizzocake.com?Subject=Question" target="_top">
                        support@quizzocake.com
                    </a>.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
