<div class="msg-threads" >
    <page-load-wait page="page"></page-load-wait>
    <page-not-found page="page"></page-not-found>
    <div ng-if="page.isReady">
        <div class="qz-no-item" ng-if="messages.length === 0">
            No Messages found.
        </div>
        <div ng-repeat="item in messages" class="link-container msg-thread-item" ng-if="!item.isEmpty">
            <a ui-sref="si.quizzmateMsg({threadId: {{item.quizzmateMsgThreadId}}, depId: {{depId}} })" class="link-elem"></a>
            <div class="group-name">
                {{item.groupName}}
                <span class="badge" ng-if="item.newCount != 0">{{item.newCount}}</span>
            </div>
            <div class="last-msg-container" ng-if="!item.isEmpty">
                <div class="avatar">
                    <img ng-src="{{item.lastSenderProfileUrl}}" />
                </div>
                <div class="message-container">
                    <div class="quizzer sender">
                        {{item.lastSenderUserName}}
                        <span class="posted-date">{{item.lastMsgPostedDate | formatDate}}</span>
                    </div>

                    <div class="actual-message">
                        {{item.lastSenderMsg}}
                    </div>
                </div>
            </div>
            <div class="last-msg-container no-message" ng-if="item.isEmpty">
                No messages
            </div>
        </div>
    </div>
</div>