/*Color*/
/*@company-theme-color: #920000;*/
/*add-category-tag*/
/*Sizes*/
/* */
/*Media Sizes*/
.categories-html .qz-content-container .qz-header {
  display: none;
  min-height: 10px;
  height: 15px;
  background-color: #f07a18;
}
.categories-html .qz-content-container .qz-body {
  margin-top: 5px;
}
.categories-html .qz-content-container .qz-body .quizz-categories .quizz-category {
  overflow: hidden;
}
.categories-html .qz-content-container .qz-body .quizz-categories .quizz-category .category-icon-container {
  float: left;
}
.categories-html .qz-content-container .qz-body .quizz-categories .quizz-category .category-item-body {
  margin-right: 90px;
}
.categories-html .qz-content-container .qz-body .quizz-categories .quizz-category .category-right-info {
  float: right;
  font-weight: 700;
  font-size: 0.75em;
  color: #aaaaaa;
}
@media screen and (max-width: 479px) {
  .categories-html .qz-content-container .qz-body .quizz-categories .quizz-category .category-item-body {
    margin-right: 50px;
  }
  .categories-html .qz-content-container .qz-body .quizz-categories .quizz-category .category-right-info .uizze {
    display: none;
  }
}