<page-load-wait page="page"></page-load-wait>
<div class="nsi-page-html ng-anim-fade" ng-show="page.isReady">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand company-name-logo" href="#">
                    <img src="/Content/images/Icons/icon-logo-white.png" />
                    <span class="company-name-logo-quizz">Quizz</span>OCake
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-item">
                        <!--<span ng-click="openLoginModal(false)" class="as-link account-action">Sign In</span>-->
                        <a ng-click="openLoginModal(false)" class="as-link account-action">Sign In</a>
                    </li>
                    <li class="navbar-item">
                        <a ui-sref="si.quizzOverviews" class="as-link account-action">Take a peek</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="nsi-page-background ed-img-cover">
        <div class="container text-container">
            <h1 id="nsi-img-text">
                <span class="subhead">PERFECT SCORES WITHIN YOUR REACH</span>
                An online knowledge-sharing resource designed to help students <strong>collaborate, review</strong> and <strong>study</strong> for their tests.
            </h1>

            <div id="nsi-motto">
                When Knowledge is Shared and Free, Learning is a <span class="subhead">Piece of Cake!</span>
            </div>
        </div>
    </div>

    <div id="features">
        <section class="about container">
            <h2>
                About
                <span class="company-name-logo">
                    <span class="company-name-logo-quizz">Quizz</span>OCake
                </span>
            </h2>
            <p>
                Whether you're teaching, reviewing for exams or learning something new,
                let QuizzOCake be your partner in education.
            </p>
        </section>

        <section class="everybody container">
            <h3>It's is for Everybody</h3>
            <div class="row content">
                <div class="col-sm-4">
                    <p>
                        <span class="desc-bold">Learners</span> can search and take Quizzes, make their own,
                        join Quizzrooms and connect with their Quizzmates.
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        <span class="desc-bold">Parents</span> can make quizzes, post assignments and track all
                        of their Quizzlings' activities.
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        <span class="desc-bold">Educators</span> can invite learners to their Quizzrooms, prepare lessons,
                        make announcements & quizzes, and moderate discussions
                        in these virtual classrooms.
                    </p>
                </div>
            </div>
        </section>

        <section class="learning ed-img-cover">
            <div class="container">
                <h3>QuizzOCake is for Learning</h3>
                <div class="content">
                    <div class="row content">
                        <div class="col-sm-4">
                            <h4>Quizzes</h4>
                            <p>
                                Anybody can make their own Quizz or search for available quizzes
                                in different subjects and grade levels.  Take the quizzes
                                as many times as needed to master the lessons.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <h4>Notes</h4>
                            <p>
                                Use reviewer notes to study before taking the test.
                                All of your reference materials can be written in notes
                                so they'll be more accessible.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <h4>Flashcards</h4>
                            <p>
                                Test yourself without taking scores with flashcards.
                                Use existing questions from the quiz or add new ones.
                                Perfect for drills and memorization.
                            </p>
                        </div>
                    </div>
                    <div class="row content bottom-content">
                        <div class="col-sm-offset-2 col-sm-4">
                            <h4>Assignments</h4>
                            <p>
                                Parents can assign Quizzes to their Quizzlings
                                and set target scores and due dates. With Assignments,
                                the parents can track and list focus areas.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <div class="features-caption">
                                <h4>Test Results</h4>
                                <p>
                                    See previous quizzes taken, their scores and learn
                                    from past mistakes. You'll also see from subsequent scores
                                    how well you're progressing.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container">
            <h3>QuizzOCake is for Building a Community of Learners</h3>
            <div class="row content">
                <div class="col-sm-4">
                    <h4>Quizz Sharing</h4>
                    <p>
                        QuizzOCake is primarily a knowledge sharing website.
                        Publishing your Quizz would help build the repository of available Quizzes
                        and would also encourage others to share.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h4>Quizzrooms</h4>
                    <p>
                        A virtual classroom that supplements or could substitute for
                        the traditional method of teaching. The teacher, course materials
                        and practice Quizz sets are more accessible to the learners and
                        it also facilitates discussion among the Quizzroom members.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h4>Quizzmates</h4>
                    <p>
                        Invite friends, parents or Quizzlings to connect with you
                        through QuizzOCake. Being connected allows better
                        exchange of ideas and information with a Quizzmate or a group of Quizzmates.
                    </p>
                </div>
            </div>
        </section>
    </div>

    <footer class="container-fluid">
        
        <div class="container">
            <div class="company-name-logo">
                <span class="company-name-logo-quizz">Quizz</span>OCake
            </div>
            <div class="subhead">
                An online learning and knowledge-sharing site for learners, parents, and educators
            </div>
            <div class="total-questions-taken">
                <span class="actual-count">{{promoInfoControl.vars.totalQuestions | formatNumber}}</span>
                <span class="questions-taken"> questions answered to date</span>
            </div>

            <div class="feedback">
                <a href="mailto:support@quizzocake.com?Subject=Feedback" target="_top">
                    Contact us or send us a feedback&nbsp;
                    <img src="/Content/images/features/mailbox.png" />
                </a>
            </div>
            <div class="legal-group">
                <div class="legal">
                    <a ui-sref="privacyNotice" target="_blank">
                        Privacy Notice
                    </a>
                </div>
                <div class="legal">
                    <a ui-sref="termsAndConditions" target="_blank">
                        Terms and Conditions
                    </a>
                </div>
                <div class="legal">
                    <a ui-sref="helpAndSupport" target="_blank">
                        Help and Support
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <div id="goto-top-button-div" ng-click="gotoHash('top')" class="nav-button">
        <i class="fa fa-chevron-circle-up"></i>
    </div>
</div>