<page-load-wait page="page"></page-load-wait>
<div id="edit-qa-html" class="qz-page-container quizz-common-header ng-anim-fade" ng-hide="!page.isReady">
    <div class="qz-page-title-action">
        <!--<div class="qz-go-back-action">
            <button type="button" class="btn btn-danger btn-sm " ng-click="goBack()" ng-disabled="page.disabled">Go Back</button>
        </div>-->
        <div class="qz-page-title">
            <h1>{{page.title}} Q and A Question</h1>
        </div>
    </div>

    <div class="qz-content-container">
        <div class="qz-header">
            <div class="qz-header-action">

            </div>
            <div class="quizz-name-icon">
                <div class="avatar-image">
                    <add-category-icon-dyn category="quizz.category" add-class="quizz-category-icon category-icon-big" control="categoryIconControl"></add-category-icon-dyn>
                </div>

                <div class="main-info">
                    <div class="quizz-title qz-title">
                        {{quizz.title}}
                    </div>
                    <div class="qz-description">
                        {{quizz.description}}
                    </div>
                </div>
            </div>
        </div>

        <div class="qz-body edit-q-container">
            <form name="form" ng-submit="submit(form)">

                <div class="question-container" ng-if="page.isReady">
                    <qz-editor id="create-new" editor-control="editorControl" no-title="1" no-actions="1" no-video="1" text-label="Question"></qz-editor>
                </div>

                <div class="form-group">
                    <label class="control-label">Answers</label>
                    <ul>
                        <li ng-repeat="item in question.answers">
                            <div class="col-letter">
                                {{$index | letter}}
                            </div>

                            <div class="col-question">
                                <input id="answer_{{$index}}" type="text" class="form-control" ng-model="item.answer" ng-change="changed(item)" required autocomplete="off"/>
                            </div>

                            <div class="col-action">
                                <button type="button" class="btn btn-default btn-sm" ng-click="deleteAnswerInput($index)" ng-disabled="question.answers.length <= 1">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>

                        </li>
                    </ul>
                    <div class="add-input">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="addAnswerInput()">
                            Add Additional Input
                        </button>
                    </div>
                </div>
                <div ng-show="question.answers.length > 1" class="answer-options">
                    <div class="form-group">
                        <label class="control-label">Answer Options:</label>
                    </div>
                    <div class="answer-options-details row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">Order:</label>
                            <inp-radio-bool name="answersInOrder" label-true="Order is Important" label-false="Order is not Important" model="question.answersInOrder" changed="changed(question)"> </inp-radio-bool>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">Scoring Treatment:</label>
                            <inp-radio-bool name="isMultiplePoints" label-true="Multiple Questions" label-false="One Question" model="question.isMultiplePoints" changed="changed(question)"> </inp-radio-bool>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-action">
                    <button type="submit" class="btn btn-danger btn-xs" ng-disabled="!canSave()">
                        {{saveButton.name}}
                        <save-wait item="page"></save-wait>
                    </button>

                    <button type="button" class="btn btn-default btn-xs" ng-click="goBack()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>