
<footer id="footer" class="row text-center">
    <div class="like-page wow fadeInDown">
        <div class="">
            <a class="facebook-icon" href="https://www.facebook.com/sharer/sharer.php?sdk=joey&u=http%3A%2F%2Fnllingad-construction.azurewebsites.net%2F&display=popup&ref=plugin&src=share_button" target="_blank">
                <i class="fa fa-facebook-square fa-2x"></i>
            </a>
            <a class="twitter-icon" href="https://twitter.com/home?status=Check%20out%20Nelson%20Lingad%27s%20website-%20http://nllingad-construction.azurewebsites.net" target="_blank">
                <i class=" fa fa-twitter-square fa-2x"></i>
            </a>
            <a class="gplus-icon" href="https://plus.google.com/share?url=http%3A%2F%2Fnllingad-construction.azurewebsites.net" target="_blank">
                <i class="fa fa-google-plus-square fa-2x"></i>
            </a>
        </div>
        <div class="like-text">
            Like the page? Share it!
        </div>
    </div>
    <div class="developer wow fadeInLeft">
         Edwin Lingad, Founder<span> and</span> Creator
    </div>
</footer>