<page-load-wait page="page"></page-load-wait>
<div id="edit-test-html" class="qz-page-container ng-anim-fade" ng-hide="!page.isReady">
    <div class="qz-page-title-action">
        <div class="qz-go-back-action">
            <button type="button" class="btn btn-danger btn-sm " ng-click="goBack()" ng-disabled="page.disabled">Go Back</button>
        </div>
        <div class="qz-page-title">
            <h1>Edit Test</h1>
        </div>
    </div>

    <div class="qz-content-container">
        <add-guest-message msg="Edit Test is only available to registered users." is-guest="user.isGuest"></add-guest-message>

        <div class="qz-header">
            <div class="qz-header-action">
                <button class="btn btn-sm clear-btn" ng-disabled="!liveBtn.isReady || test.questions.length < 10" uib-tooltip="{{liveBtn.tooltip}}" tooltip-placement="left" ng-if="user.id === quizz.ownerId" ng-click="liveBtn.click()">
                    <i class="fa fa-fire" ng-class="{'is-active': quizz.isLive}"></i>
                    <item-load-wait-with-space item="liveBtn"></item-load-wait-with-space>
                </button>
            </div>
            <div class="quizz-name-icon">
                <div class="quizz-icon">
                    <div>
                        <add-category-icon-dyn category="quizz.category" add-class="quizz-category-icon category-icon-big"></add-category-icon-dyn>
                    </div>
                    <div class="btn-group quizz-edit-delete">
                        <button type="button" class="btn btn-sm dropdown-toggle" ng-click="editQuizz()">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </div>
                <div class="quizz-name">
                    <a ui-sref="si.quizzDetail({quizzId: quizz.id, view: 3})" class="quizz-title qz-title">{{quizz.title}}</a>
                    <div class="qz-description">
                        {{quizz.description}}
                    </div>
                </div>
            </div>

            <div class="change-setting">
                <test-setting-summary settings="test.defaultSetting"></test-setting-summary>
                <button type="button" ng-click="editTestSetting()" class="btn btn-info btn-xs">Change</button>
            </div>
        </div>

        <div class="qz-body">
            <div class="add-question" ng-hide="testPermission.canCreate == false">
                <div class="add-question-header">Add Questions</div>
                <button type="button" class="btn btn-default btn-xs add-choice-group" ng-click="editMultiChoiceSameChoiceGroup(-1)">Add Choice Group</button>
                <div class="question-types">
                    <button type="button" class="btn btn-default btn-sm" ng-click="createNewQuestion('QandA', { qId: -1, testId: test.id, quizzId: quizz.id })">
                        <add-q-icon question-type="1" add-class="q-icon"></add-q-icon>
                        <span class="button-name">Q and A</span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="createNewQuestion('MultipleChoice', { qId: -1, testId: test.id, quizzId: quizz.id })">
                        <add-q-icon question-type="2" add-class="q-icon"></add-q-icon>
                        <span class="button-name">Multiple Choice</span>
                    </button>
                    <div class="btn-group" ng-repeat="item in test.multiChoiceSameChoiceGroups">
                        <button type="button" class="btn btn-default btn-sm" ng-click="createNewQuestion('MultiChoiceSame', { qId: -1, cgId: item.id, testId: test.id, quizzId: quizz.id })">
                            <add-q-icon question-type="3" add-class="q-icon"></add-q-icon>
                            <span class="button-name">{{item.name}}</span>
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm caret-container" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-click="editMultiChoiceSameChoiceGroup(item.id)">Edit</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="question-label">
                Questions: {{test.questions.length}} total
            </div>

            <div ng-repeat="item in test.questions" class="question">
                <div class="col-number">
                    {{$index + 1}}.
                </div>

                <div class="col-action">
                    <div class="btn btn-default clear-btn" ng-click="flashBtn.click(item)" uib-tooltip="{{toolTipString(item)}}" tooltip-placement="left">
                        <i class="fa fa-clone" ng-class="{'is-active': item.isFlashCard}"></i>
                        <item-load-wait item="item"></item-load-wait>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default clear-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="edit-menu-item">
                                <a ng-click="editQuestion(item)">
                                    <i class="fa fa-edit"></i>
                                    <span>Edit</span>
                                </a>
                            </li>
                            <li class="delete-menu-item">
                                <a ng-click="deleteQuestion($index, item)">
                                    <i class="fa fa-trash"></i>
                                    <span>Delete</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-icon-question">
                    <add-q-icon question="item" add-class="q-icon"></add-q-icon>
                    <div class="col-question tinymce-formatted" ng-bind-html="item.question">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
