<div class="profile">
    <div class="heading-title">
        Quizzling Account Info
        <span class="account-info-edit">
            <i class="fa fa-edit"></i>
        </span>
    </div>
    <div class="account-info-item">
        <span class="account-info-name">
            Full Name
        </span>
        <span class="account-info-value">
            {{depInfo.profile.firstName}} {{depInfo.profile.lastName}}
        </span>
    </div>
    <div class="clearfix"></div>
    <div class="account-info-item">
        <span class="account-info-name">
            Username
        </span>
        <span class="account-info-value">
            {{depInfo.userName}}
        </span>
    </div>
    <div class="clearfix"></div>
    <div class="account-info-item">
        <span class="account-info-name">
            Birth Date
        </span>
        <span class="account-info-value">
            {{depInfo.profile.birthDate | toBirthDate}}
        </span>
    </div>

</div>