/*Color*/
/*@company-theme-color: #920000;*/
/*add-category-tag*/
/*Sizes*/
/* */
/*Media Sizes*/
.mobile-account {
  background-color: #f1b953;
}
.mobile-account .account-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.mobile-account .account-container .message {
  padding: 10px;
  background-color: white;
  color: red;
  font-weight: 500;
  margin-bottom: 10px;
}
.mobile-account .account-container .card .item {
  text-align: center;
}
.mobile-account .account-container .card .item .company-name-logo {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}
.mobile-account .account-container .card .item .company-name-sub {
  color: #f07a18;
  font-size: 0.9em;
}
.mobile-account .account-container .as-link {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  color: white;
  margin-top: 20px;
}
.mobile-account .account-container .button.button-assertive {
  background-color: #f07a18;
}
#mobile-sign-in {
  background-size: cover;
}
#mobile-sign-in .scroll {
  position: absolute;
  width: 100%;
  top: 50%;
  -moz-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  -o-transform: translateY(-50%) !important;
  -webkit-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}
#mobile-sign-in .scroll .test-label-fix {
  height: 1px;
  opacity: 0;
  min-height: 1px;
}